{% extends "base.html" %}

{% block content %}
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSl-N7bobDSFsAPPGT9s-Z3nNvAYJqZ16cEg&usqp=CAU">
  
  <h1></h1>
  <h3>.................</h3>
  <h2></h2>
  
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUD55FMHHTTQE8ahQwx3KbDGHZFnOspsSrECKjL5ZnAJ7_IVlLj2rE5IxJ-71xmokn1NU&usqp=CAU">
<ol>
  <li><a href="{% url 'hilsenurl' %}">Hilsen</a></li>
  <li><a href="{% url 'infourl' %}">Info</a>  </li>
  
</ol>  
  
{% endblock content %}
