{% extends "base.html" %}

{% block content %}
  <h1>Info</h1>
  <h3>.................</h3>
  <h4>Jeg håber at du engang kan finde lidt tid til at hjælpe mig, med at få databasen med i appen.</h4>
  <img src="https://imengine.public.mhm.infomaker.io/?uuid=3e8c7972-5957-5412-a37e-2096e00791c9&function=cropresize&type=preview&source=false&q=60&crop_w=0.999&crop_h=0.88009&width=930&height=620&x=0&y=0.05995599559956">
  <h4>Da jeg er kørt helt fast, og føler ikke jeg kan komme videre</h4>
  <h4>God weekend ;)</h4>
    
  
{% endblock content %}
